<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Admin Page</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Links</th>
                <th>Received Data</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a th:href="@{'/user/' + ${user.id} + '/links'}">View Links</a>
                </td>
                <td>
                    <a th:href="@{'/user/' + ${user.id} + '/received-data'}">View Received Data</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
