<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Region</th>
                <th>IP Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="adminData : ${adminDataList}">
                <td th:text="${adminData.user.id}"></td>
                <td th:text="${adminData.email}"></td>
                <td th:text="${adminData.region}"></td>
                <td th:text="${adminData.ipAddr}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
